{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "typescript",
  "semi": true,
  "requirePragma": false,
  "proseWrap": "preserve",
  "arrowParens": "avoid"
}
