@font-face {
  font-family: 'source-sans-pro';
  src: url('sourcesanspro-bold-webfont.eot');
  src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('sourcesanspro-bold-webfont.woff2') format('woff2'),
    url('sourcesanspro-bold-webfont.woff') format('woff'),
    url('sourcesanspro-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro';
  src: url('sourcesanspro-regular-webfont.eot');
  src: url('sourcesanspro-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('sourcesanspro-regular-webfont.woff') format('woff'),
    url('sourcesanspro-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro';
  src: url('sourcesanspro-semibold-webfont.eot');
  src: url('sourcesanspro-semibold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('sourcesanspro-semibold-webfont.woff2') format('woff2'),
    url('sourcesanspro-semibold-webfont.woff') format('woff'),
    url('sourcesanspro-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
