body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: source-sans-pro, sans-serif;
  transition: 0.2s;
  margin: 0;
  padding: 0;
  -webkit-app-region: drag;
}

* {
  box-sizing: border-box;
}

button {
  font-family: source-sans-pro, sans-serif;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

h1 {
  font-size: var(--font-size-h1);
  color: var(--color-white);
  font-weight: 400;
}
h2 {
  font-size: var(--font-size-h2);
  font-weight: 400;
}
h3 {
  font-size: var(--font-size-h3);
  font-weight: 400;
}
p {
  font-size: var(--font-size-p);
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

input:focus {
  outline: none;
  border: var(--color-link-hover) solid 0.1px;
  border-radius: var(--border-radius);
}

textarea:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
