/* eslint-ignore */
:root {
  --color-white: #ffffff;
  --color-black: #1b2431;
  --color-almostBlack: #222c3c;
  --color-almostBlack2: #283447;
  --color-lighterBlack: #313d4f;
  --color-purple: #8050ef;
  --color-lightpurple: #687bf7;
  --color-lessSaturatedBlue: #5362c4;
  --color-gray: #7f8fa4;
  --color-darkerGray: #8492b4;
  --color-slateGray: #354353;
  --color-danger: #e6195f;

  --color-modal-overlay: rgba(0, 0, 0, 0.8);
  --color-modal-bg: #212b3b;
  --color-modal-border: #2e3d51;
  --color-modal-fg: #ffffff;
  --color-modal-fg-lc: #7b90a6;

  --color-link: var(--color-lightpurple);
  --color-link-hover: var(--color-lessSaturatedBlue);

  --border-dark: 1px solid var(--color-lighterBlack);
  --border-purple: 1px solid var(--color-lightpurple);
  --border-radius: 4px;
  --border-radius-big: 8px;

  /* --gradient-purple-direct: linear-gradient(
    167.56deg,
    #687bf7 9.04%,
    #8050ef 90.96%
  ); */
  --gradient-purple-direct: linear-gradient(180deg, #687bf7 0%, #8050ef 97.78%);

  --gradient-purple-horizontal: linear-gradient(97.43deg, #973af5 0%, #4ca6fe 100%);
  --gradient-gray: linear-gradient(180deg, #516173 3.03%, #3b4857 97.78%);

  --font-size-h1: 1.625rem; /** 26px **/
  --font-size-h2: 1.25rem; /** 20px **/
  --font-size-h3: 1.125rem; /** 18px **/
  --font-size-p: 1rem; /** 16px **/
  --font-size-additional-p: 0.875rem; /** 14px **/
  --font-size-tiny-p: 0.75rem; /** 12px **/
  --font-size-tinytiny-p: 0.5rem; /** 8px **/
}
