body {
  background-color: var(--color-black);
  font-family: source-sans-pro, sans-serif;
  transition: 0.2s;
  margin: 0;
  padding: 0;
  -webkit-app-region: drag;
}

button {
  font-family: source-sans-pro, sans-serif;
}

h1 {
  font-size: var(--font-size-h1);
  color: var(--color-white);
  font-weight: 600;
}
h2 {
  font-size: var(--font-size-h2);
  font-weight: 400;
}
h3 {
  font-size: var(--font-size-h3);
  font-weight: 600;
}
p {
  font-size: var(--font-size-p);
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

input:focus {
  outline: var(--color-link-hover) dashed 0.1px;
}

textarea:focus {
  outline: none;
}

button:focus {
  outline: none;
}
